html {
  box-sizing: border-box;
  	background-color: black;
}
*, *:before, *:after {
  background-color: pink;
  box-sizing: inherit;
}

ul {
	list-style-type: none;
	-webkit-padding-start: 0;
}

#product-section {
  background-color: pink;
}

.product-box {
	padding: 5px;
  	background-color: black;
}

#basket {
	background-color: black;
}
